/* Colours */
:root {
    --cherry: #904756;
    --watermelon: #EA5768;
    --peach: #FB877E;
    --lemon: #F7AF7E;
    --tangerine: #F7987F;
    --white: #FFFFFF;
    --grape: #99809d;
    --deepgrape: #564C65;
}

/* Global Styles */
body {
    margin: 0;
    padding: 0;
    background-color: var(--grape) !important;
    /* background:
    -webkit-linear-gradient(
        var(--grape),
        var(--deepgrape)
    ) !important; */
    font-family: 'Sarabun'!important;
    color: white !important;
}

/* Navigation and Footer Bar */
.navbar.scrolled {
    background-color: var(--tangerine) !important;
    transition: background-color 200ms linear;
  }

.nav-link, .navbar-brand {
    color: var(--white);
    cursor: pointer;
}

.nav-link {
    margin-right: 1em !important;
}
li > a:after{
    content: '';
    display: block;
    height: 5px;
    background: var(--lemon);
    transform: scaleX(0);
    transition: transform .3s;
}
li > a:hover:after{
    transform: scaleX(1);
    transition: transform .3s;
}
/* .active{
    color: var(--white) !important;
} */

.nav-link:hover {
    color: var(--white);
}

.navbar-collapse {
    justify-content: flex-end;
}

.logo {
    width: 100px;
    height: 50px;
}

/* Splash Page */
.description {
    margin-left: 10%;
    margin-right: 10%;
    position: absolute;
    top: 30%;
    text-align: left;
  }
  @media only screen and (max-width: 600px) {
    .description {
      text-align: center;
      top: 25%;
    }
  }

  .description h1 {
    color: var(--white);
  }

  .description p {
    color: var(--white);
    font-size: 1em;
  }

/* Ocean */
  .rectangle {
    height: 125px;
    opacity: 0.90;
    width: 100%;
    background-color: rgb(73, 104, 185, 0.6);
    position: absolute;
    top: 100%;
    transform: translate(0%, -100%);
  }

/* Gradient Sunset */
.header {
    height:100vh;
    width: 100%;
    background: 
    -webkit-linear-gradient(
        var(--cherry), 
        var(--watermelon), 
        var(--peach), 
        var(--lemon), 
        var(--tangerine)
    );
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
}

/* The Sun */
.sun-outer {
height: 240px;
width: 240px;
background: rgba(255, 255, 255, 0.2);
border-radius: 50%;
display: inline-block;
position: absolute;
transform: translate(0%, -100%);
top: 100%;
left: 0;
right: 0;
margin: auto;
}

.sun-inner-1 {
background: rgba(255, 255, 255, 0.4);
border-radius: 50%;
top: 15%; left:15%;
width:70%; 
height:70%; 
position: relative;

}

.sun-inner-2 {
    background: rgba(255, 255, 255, 1);
    border-radius: 50%;
    top: 25%; left:25%; 
    width:50%; 
    height:50%; 
    position: relative;
}

    /* Pulsing Animation */
    .pulse {
        animation: pulse-animation 2.5s infinite;
      }
      
      @keyframes pulse-animation {
        0% {
          box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.2);
        }
        100% {
          box-shadow: 0 0 0 50px rgba(255, 255, 255, 0);
        }
      }
    .pulse-1 {
        animation: pulse-animation-1 2.5s infinite;
      }
      
      @keyframes pulse-animation-1 {
        0% {
          box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.4);
        }
        100% {
          box-shadow: 0 0 0 40px rgba(255, 255, 255, 0);
        }
      }
/* 
    .pulse-2 {
        animation: pulse-animation-2 2.5s infinite;
      }
      
      @keyframes pulse-animation-2 {
        0% {
          box-shadow: 0 0 0 0px rgba(255, 255, 255, 1);
        }
        100% {
          box-shadow: 0 0 0 50px rgba(255, 255, 255, 0);
        }
      } */

      /* About Page */
      .about {
        margin-top: 10%;
        /* margin-left: 15%;
        margin-right: 15%; */
      }
      
      .about-me-buttons {
        margin-top: 5%;
    
      }

      .resume, .more-about-me, .all-projects {
        background-color: var(--peach);
        border: none;
        color: white;
        padding: 15px;
        text-align: center;
        border-radius: 10px;
        box-shadow: 2px 2px grey;
        /* text-decoration: none; */
        display: inline-block;
        font-size: 0.75em;
        /* margin-left: 40px; */
        /* margin: 4px 2px; */
      
      }

      .all-projects {
        float: right;
      }



      p {
        font-family: 'Roboto';
        font-size: 0.9em;
    }

    .sunset-description, .core-focusses {
      background-color: #FFE1DF;
      color: var(--cherry);
    }
/* Projects */
    .featured-projects {
      margin-top: 5%;
      margin-bottom: 7%;
    }

    .featured-projects h3 {
      float: right;
      font-size: 1em;
    }
    .featured-projects .card {
      /* Add shadows to create the "card" effect */
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      transition: 0.3s;
      margin-left: 1%;
      border: none !important;
      
    }
    
    /* On mouse-over, add a deeper shadow */
    .featured-projects .card:hover {
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
    }
    
    /* Add some padding inside the card container */
    .container {
      padding: 2px 16px;
    }

    .featured-projects .card h5 {
      color: black;
      font-size: 1em;
      font-family: Roboto;
      font-weight: 600;
    }
    .featured-projects .card p {
      color: var(--cherry);
      font-weight: 600;
    }

    .core-focusses .card p {
    
        color: var(--cherry);
        
      
    }
/* 
    mark {
      display: inline-block;
      line-height: 0.2em;
      padding-bottom: 2.5em;
      color: white;
      background-color: var(--watermelon) !important;
    } */

    /* Focusses */
 

    .page-footer {
      background-color: var(--deepgrape);
      margin: 0 !important;
      padding: 0 !important;

    }


    .inner {
      width: 75%;
      margin: 0 auto;
    }
    /* .inner-1 {
      width: 75%;
      margin: 0 auto;
    } */


.hello {
 
    /* background: linear-gradient(to bottom, var(--grape) 0%,var(--grape) 80%,var(--grape) 80%,#FFE3E3 80%,#FFE3E3 100%); */
    background: var(--grape);
    
}

.sunset-description {
  /* margin-top: 5%; */
}

.sunset-description p {
  /* padding-bottom: 5%; */
  margin: 0 !important;
}


.hello p {
  padding-top: 1em;
}

.highlight {
  background: linear-gradient(180deg, rgba(255,255,255,0) 65%, rgba(234,87,104,0.85) 65%);
}

.highlight-orange {
  background: linear-gradient(180deg, rgba(255,255,255,0) 65%, #FFD0AE 65%);
}

.featured-projects h2, .featured-projects h4, .check-this-out h2 {
  text-align: center;
}

.core-focusses .card {
  background-color: var(--cherry) !important;
  margin-top: 2%;
  border: none !important;
  border-radius: 10px;
  
}

.core-focusses .card .card-pink {
  background-color: var(--cherry) !important;
  border-radius: 10px;

}

.core-focusses a, .core-focusses a:hover {
  color: white;
}

.core-focusses .collapse {
  background-color: #FFE1DF;
}

.core-focusses h2 {
  padding-top: 3%;
}

.core-focusses .container-fluid {
  padding-bottom: 3%;
  padding-top: 2%;
}

.check-this-out .card {
  background-color: var(--deepgrape) !important;
  margin-top: 2%;
  border: none !important;
  border-radius: 10px;
 
}

.check-this-out .row {
  text-align: center;
}

.check-this-out .card h5 {
  color: white;
  text-align: center;
  font-size: 1em;
  font-weight: 200;
}

.check-this-out {
  margin-top: 5%;
  margin-bottom: 5%;
}

.page-footer {
  background-color: var(--peach);
  margin: 0 !important;
  padding: 0 !important;
}

.padding-0{
  padding-right:0;
  padding-left:0;
}

.page-footer .row {
  width: 100%; /* self explanatory */
  
}

.focus-image {
  position: relative;
  top: 50%; 
  transform: translateY(-50%);
}

.wave-container {
  position: relative;
  /* background: #09F; */
  color: #FFF;
  text-align: center;
  overflow: hidden;
  padding: 0 !important;
  margin: 0 !important;
}

