/* Colours */
:root {
    --cherry: #904756;
    --watermelon: #EA5768;
    --peach: #FB877E;
    --lemon: #F7AF7E;
    --tangerine: #F7987F;
    --white: #FFFFFF;
    --grape: #876E8D;
    --deepgrape: #25233C;
}

/* Global Styles */
body {
    margin: 0;
    padding: 0;
    background-color: #876E8D !important;
    /* background:
    -webkit-linear-gradient(
        var(--grape),
        var(--deepgrape)
    ) !important; */
    font-family: 'Sarabun'!important;
    color: var(--white) !important;
}

/* Navigation and Footer Bar */
.navbar.scrolled {
    background-color: var(--tangerine) !important;
    transition: background-color 200ms linear;
  }

.nav-link, .navbar-brand {
    color: var(--white);
    cursor: pointer;
}

.nav-link {
    margin-right: 1em !important;
}
li > a:after{
    content: '';
    display: block;
    height: 5px;
    background: var(--lemon);
    transform: scaleX(0);
    transition: transform .3s;
}
li > a:hover:after{
    transform: scaleX(1);
    transition: transform .3s;
}
/* .active{
    color: var(--white) !important;
} */

.nav-link:hover {
    color: var(--white);
}

.navbar-collapse {
    justify-content: flex-end;
}

.logo {
    width: 120px;
    height: 60px;
}

/* Splash Page */
.description {
    margin-left: 10%;
    margin-right: 10%;
    position: absolute;
    top: 30%;
    text-align: left;
  }
  @media only screen and (max-width: 600px) {
    .description {
      text-align: center;
      top: 25%;
    }
  }

  .description h1 {
    color: var(--white);
  }

  .description p {
    color: var(--white);
    font-size: 1em;
  }

/* Ocean */
  .rectangle {
    height: 125px;
    opacity: 0.90;
    width: 100%;
    background-color: rgb(55,81,150,0.65);
    position: absolute;
    top: 100%;
    transform: translate(0%, -100%);
  }

/* Gradient Sunset */
.header {
    height:100vh;
    width: 100%;
    background: 
    -webkit-linear-gradient(
        var(--cherry), 
        var(--watermelon), 
        var(--peach), 
        var(--lemon), 
        var(--tangerine)
    );
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
}

/* The Sun */
.sun-outer {
height: 240px;
width: 240px;
background: rgba(255, 255, 255, 0.2);
border-radius: 50%;
display: inline-block;
position: absolute;
transform: translate(0%, -100%);
top: 100%;
left: 0;
right: 0;
margin: auto;
}

.sun-inner-1 {
background: rgba(255, 255, 255, 0.4);
border-radius: 50%;
top: 15%; left:15%;
width:70%; 
height:70%; 
position: relative;

}

.sun-inner-2 {
    background: rgba(255, 255, 255, 1);
    border-radius: 50%;
    top: 25%; left:25%; 
    width:50%; 
    height:50%; 
    position: relative;
}

    /* Pulsing Animation */
    .pulse {
        animation: pulse-animation 2.5s infinite;
      }
      
      @keyframes pulse-animation {
        0% {
          box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.2);
        }
        100% {
          box-shadow: 0 0 0 50px rgba(255, 255, 255, 0);
        }
      }
    .pulse-1 {
        animation: pulse-animation-1 2.5s infinite;
      }
      
      @keyframes pulse-animation-1 {
        0% {
          box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.4);
        }
        100% {
          box-shadow: 0 0 0 40px rgba(255, 255, 255, 0);
        }
      }
/* 
    .pulse-2 {
        animation: pulse-animation-2 2.5s infinite;
      }
      
      @keyframes pulse-animation-2 {
        0% {
          box-shadow: 0 0 0 0px rgba(255, 255, 255, 1);
        }
        100% {
          box-shadow: 0 0 0 50px rgba(255, 255, 255, 0);
        }
      } */

      /* About Page */
      .about {
        margin-top: 10%;
        margin-left: 15%;
        margin-right: 15%;
      }
      
      .social-media {
        margin-top: 5%;
      }

      .resume {
        background-color: var(--peach);
        border: none;
        color: white;
        padding: 15px;
        text-align: center;
        /* text-decoration: none; */
        display: inline-block;
        font-size: 0.75em;
        /* margin: 4px 2px; */
      
      }

      .hello {
        /* margin-left: 5% !important;
        margin-right: 5% !important; */
      }

      p {
        font-family: 'Roboto';
        font-size: 0.9em;
    }
/* Projects */
    .featured-projects {
      margin-top: 5%;
    }

    .featured-projects h2 {
      padding-bottom: 0.5em;
    }
    
    .card {
      /* Add shadows to create the "card" effect */
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      transition: 0.3s;
      margin-left: 1%;
      border: none !important;
    }
    
    /* On mouse-over, add a deeper shadow */
    .card:hover {
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
    }
    
    /* Add some padding inside the card container */
    .container {
      padding: 2px 16px;
    }

    .card h5 {
      color: black;
      font-size: 1em;
      font-weight: 600;
    }
    .card p {
      color: var(--cherry);
      font-weight: 600;
    }