/* Colours */
:root {
    --cherry: #904756;
    --watermelon: #EA5768;
    --peach: #FB877E;
    --lemon: #F7AF7E;
    --tangerine: #F7987F;
    --white: #FFFFFF;
    --grape: #99809d;
    --deepgrape: #564C65;
    --oceanblue: rgb(73, 104, 185, 0.6);
    --blushpink: #FFE1DF;
    --highlightorange: #FFD0AE;
    --highlightpink:rgba(234,87,104,0.6);
}

/* Global Styles */
body {
    margin: 0;
    padding: 0;
    background-color: #FFF0E1 !important;
    font-family: 'Cardo'!important;
    color: var(--cherry) !important;
}

p, li {
  font-family: 'Cardo';
  font-size: 1.2em;
}

.btn:focus {
  /* outline: none !important; */
  box-shadow: 0 4px 10px 0 rgba(0,0,0,0.1) !important;
}

.highlight {
  background: 
  linear-gradient(180deg, rgba(255,255,255,0) 65%, var(--highlightpink) 65%);
}

.highlight-orange {
  background: 
  linear-gradient(180deg, rgba(255,255,255,0) 65%, var(--highlightorange) 65%);
}

::-moz-selection { 
  background-color: var(--highlightpink); 
  color: #fff; 
} 
  ::selection { 
    background-color: var(--highlightpink); 
    color: #fff; 
}
.wave-container {
  position: relative;
  color: var(--white);
  text-align: center;
  overflow: hidden;
  padding: 0 !important;
  margin: 0 !important;
}

.inner {
  width: 50%;
  margin: 0 auto;
}

.inner-1 {
  width: 85%;
  margin: 0 auto;
}

@media only screen and (max-width: 600px) {
  .inner {
    width: 85%;
    margin: 0 auto;
  }
}

.padding-0{
  padding-right:0;
  padding-left:0;
}

.sunset-description, .core-focusses {
  background-color: var(--blushpink);
  color: var(--cherry);
}

/* Navigation Bar */
.nav-item, .navbar-brand {
  font-size: 1.5em !important
}

.splash .nav-link, .navbar-brand {
    color: var(--white);
    cursor: pointer;
    padding-left: 1em;
    padding-right: 1em;;
}
@media only screen and (max-width: 767px) {
  .navbar-collapse {
 
    padding-left: 2em;
  }
}


.splash .nav-link {
    margin-right: 1em !important;
}



.nav-link:hover, .navbar-brand:hover {
    color: var(--white);
}

.navbar-collapse {
    justify-content: flex-end;
}

.logo {
    width: 80px;
    height: 40px;
}

/* Splash Page */
.description {
    margin-left: 10%;
    margin-right: 10%;
    position: absolute;
    top: 30%;
    text-align: left;
  }

  @media only screen and (max-width: 600px) {
    .description {
      text-align: center;
      top: 25%;

    }
  }

  .description h1 {
    font-size: 3em;
    color: var(--white);
  }

  .description p {
    color: var(--white);
    font-size: 1.4em;
  }

/* Ocean */
  .rectangle {
    height: 125px;
    opacity: 1;
    width: 100%;
    background-color: #FFF0E1;
    position: absolute;
    top: 50%;
    transform: translate(0%, -100%);
  }

/* Gradient Sunset */
.header {
    height: 40vh;
    width: 100%;
    background: 
    -webkit-linear-gradient(
        var(--watermelon), 
        var(--peach), 
        var(--lemon),
        var(--tangerine)

    );
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
}

/* The Sun */
.sun-outer {
  height: 240px;
  width: 240px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  transform: translate(0%, -100%);
  top: 50%;
  left: 0;
  right: 0;
  margin: auto;
}

.sun-inner-1 {
  background: rgba(255, 255, 255, 0.4);
  border-radius: 50%;
  top: 15%; left:15%;
  width:70%; 
  height:70%; 
  position: relative;
}

.sun-inner-2 {
    background: rgba(255, 255, 255, 1);
    border-radius: 50%;
    top: 25%; left:25%; 
    width:50%; 
    height:50%; 
    position: relative;
}

/* Pulsing Animation */
.pulse {
    animation: pulse-animation 2.5s infinite;
  }
  
  @keyframes pulse-animation {
    0% {
      box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.2);
    }
    100% {
      box-shadow: 0 0 0 50px rgba(255, 255, 255, 0);
    }
  }
.pulse-1 {
    animation: pulse-animation-1 2.5s infinite;
  }
  
  @keyframes pulse-animation-1 {
    0% {
      box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.4);
    }
    100% {
      box-shadow: 0 0 0 40px rgba(255, 255, 255, 0);
    }
  }

/* About Page */
.about {
  margin-top: 5%;
}

@media only screen and (max-width: 600px) {
  .about {
    margin-top: 15%;
  }
  .hello h2 {
    margin-top: 5%;
  }
}

.hello p, .sunset-description p, .featured-projects .row, .check-this-out .row {
  padding-top: 1em;
}

.sunset-description p {
  /* padding-bottom: 5%; */
  margin: 0 !important;
}

/* Buttons */
.about-me-buttons {
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .about-me-buttons {
    margin-bottom: 5%;
  }
  
}



.all-projects-btn {
  float: right;
}

/* Projects */
.featured-projects {
  margin-top: 5%;
  margin-bottom: 7%;

}

@media only screen and (max-width: 600px) {
  .featured-projects {
    margin-top: 5%;
    margin-bottom: 15%;
  
  }
}

mark {
  background-color: var(--cherry) !important;
  color: white;
}


/* Footer  */


.page-footer .row {
  padding-top: 1em;
  padding-bottom: 1em;
}

.socials a, .socials i {
  color: var(--cherry);
}

.footer-copyright {
  font-size: 1.2em;
}
 /* ------------------PROJECTS--------------------------- */
.work-intro {
  padding-top: 6em;
}

.work-intro p {
  padding-top: 1em;
}

 .all-work {
  background: var(--blushpink);
 }

.all-work h3 {
  color: var(--cherry);
  padding-top: 2em;
  padding-bottom: 1em;
  text-align: center;

}
 .work-intro a {
   color: var(--white);
 }

 .work-intro a:hover {
   color: white;
   text-decoration: none;
 }

 .accomplishments h3 {
   text-align: center;
   padding-top: 1em;
 }

 .accomplishments .row {
   margin-top: 2em;
   margin-bottom: 2em;
 
   justify-content: center;
 }

 .accomplishments li {
   font-size: 0.8em;
   margin-bottom: 0.8em;
 }


/* About  */
.about-me h2 {
  margin-top: 3em;
}

.about-intro-blurb li {
  padding-top: 1em;
  font-family: 'Roboto';
  font-size: 0.9em;
}
.about-me img {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.my-story {
  padding-top: 1em;
}

.mission, .about-intro-photo {
  background-color: var(--blushpink);
  color: var(--cherry);
}

.mission h3 {
  margin: 0 !important;
  line-height: 1.5;
}

